body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }
  
  form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    color: #333;
  }
  
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  legend {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #333;
    padding-top: 10px;
  }
  
  input[type="text"] {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 5px;
    padding-top: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #2ecc71;
    color: #050505;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  p {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
  }

  .help-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 0.8em;
    line-height: 20px;
    cursor: pointer;
  }
  
  .help-text {
    display: none;
    margin-top: 5px;
    padding: 2px 5px;
    background-color: #F2F2F2;
    border-radius: 5px;
    font-size: 0.8em;
    color: #666666;
  }
  
  .help-icon:hover + .help-text {
    display: inline-block;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 50%;
}
  